body{
    display: flex;
    font-family: 'Kanit', sans-serif;
    background-color: lightgray;
}

.container{
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.container #title{
    font-size: 60px;
    padding: 20px 0;
}

.container #text{
    padding: 20px 0;
}

.container .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
    justify-content: space-between;
}

.first-line,
.second-line{
    display: flex;
    gap: 25px;
}

button{
    width: 150px;
    height: 20px;
}

#board{
    width: 850px;
    height: 850px;
    border: 2px solid gray;
    border-style: outset;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: #ffffff;
    margin: 20px;
}

.square{ 
    /* borders caused problems with sizing */
    flex: 1 1 auto;
    min-width: 8px; /* rule needed for flex-shrink correct working*/
    min-height: 8px;
}

/* color change */

.color {
    background-color: black;
    opacity: 0;
}

.fade {
    background-color: black;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes colorChange {
    from {}
    to {background-color: transparent;}
}