#board{
    width: 850px;
    height: 850px;
    border: 2px solid gray;
    border-style: outset;
    display: flex;
    flex-wrap: wrap;
}

.square{ 
    /* borders caused problems with sizing */
    flex: 1 1 auto;
    min-width: 8px; /* rule needed for flex-shrink correct working*/
    min-height: 8px;
}

/* color change */

.color {
    background-color: black;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes colorChange {
    from {}
    to {background-color: transparent;}
}
